body {
    background-color: #c8c2aa;
  	}

@font-face {font-family: 'NieR Title'; src: url("../fonts/Benguiat Book.ttf");}
@font-face {font-family: 'NieR HUD'; src: url("../fonts/SCE-PS3-RD-R-LATIN.TTF");}

.reset {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
    font-family: 'NieR HUD';
    background-color: #0D0E0F;
    padding: 32px;
    border-radius: 9px;
    color: #FFF;
    box-shadow: 10px 10px 3px #474747;
  }

.reset h1 {text-align: center; font-size: 40px;}
hr {border: 1px solid #FFF; margin-bottom: 25px;}

input[type=text] {
    width: 50%;
    padding: 15px;
    margin: 5px 0 22px 0;
    border-radius: 5px;
    display: inline-block;
    border: none;
    background: #f1f1f1;
    font-family: 'NieR HUD';
    text-align: center;
  }

input[type=text]:focus {
    background-color: #ddd;
    border-radius: 5px;
    outline: none;
  }

.registerbtn {
    background-image: linear-gradient(-180deg, #34d058, #28a745 90%);
    color: white;
    padding: 16px 20px;
    margin: 8px 0;
    cursor: pointer;
    width: 35%;
    opacity: 0.9;
    font-weight: bold;
    text-transform: uppercase;
    border-radius: 5px;
    border: 0;
  }

.registerbtn:hover {
    opacity: 1;
  }